/* Variáveis CSS */
:root {
    --primary-color: #1a73e8;
    --secondary-color: #ffffff;
    --accent-color: #fbbc05;
    --danger-color: #ea4335;
    --light-color: #ffffff;
    --dark-color: #202124;
    --gray-color: #5f6368;
    --light-gray: #f8f9fa;
    --font-main: 'Roboto', sans-serif;
    --font-heading: 'Open Sans', sans-serif;
    --transition-speed: 0.3s;
}
/* Reset e Estilos Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    line-height: 1.6;
    color: var(--dark-color);
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color var(--transition-speed);
}

a:hover {
    color: var(--secondary-color);
}

img {
    max-width: 100%;
    height: auto;
}